<div class="panel panel-default events_panel" ng-controller="indexEventList">
  <div class="panel-heading">
    <h3 class="panel-title">イベント</h3>
  </div>
  <div class="panel-body">
      <ul class="list-group">
          <div class="event_panel" ng-repeat="event in events | limitTo: 5">
              <div class="event_detail">
                <a href="/events/[[ event.id ]]">
                    <li class="list-group-item">
                        <div>
                            <span class="panel_event_date left">[[ event.pub_date ]]</span>
                            <div style="clear: both;"></div>
                        </div>
                        <hr class="panel_line">
                        <div class="panel_list_content">
                            <span class="panel_name left">[[ event.name ]]</span>
                            <span class="panel_short_description left">[[ event.short_description ]]</span>
                            <span class="panel_pub_date right">[[ event.pub_date ]]</span>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                </a>
              </div>
              <div class="subscribe">
                  {% if user.is_authenticated %}
                    <button id="unsubscribe" type="button" class="btn btn-default event_bnt right" ng-click="unsubscribe(event)" ng-show="hasSubscribed(event)">[[ event.nb_subscriber ]] <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
                    <button id="subscribe" type="button" class="btn btn-default event_bnt right" ng-click="subscribe(event)" ng-show="!hasSubscribed(event)">[[ event.nb_subscriber ]]  <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
                  {% else %}
                    <button id="unauthenticated" type="button" class="btn btn-default event_bnt right">[[ event.nb_subscriber ]]  <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
                  {% endif %}
              </div>
          </div>
      </ul>
  </div>
</div>
