<div class="panel panel-default events_panel" ng-controller="indexEventList">
  <div class="panel-heading">
    <h3 class="panel-title">エベント</h3>
  </div>
  <div class="panel-body">
      <ul class="list-group">
          <a href="/events/[[ event.id ]]" ng-repeat="event in events | limitTo: 5">
              <li class="list-group-item">
                    <div>
                        <span class="panel_event_date">[[ event.pub_date ]]</span>
                        <hr class="panel_line">
                    </div>
                    <div class="panel_list_content">
                        <span class="panel_name left">[[ event.name ]]</span>
                        <span class="panel_short_description left">[[ new.short_description ]]</span>
                        <span class="panel_pub_date right">[[ event.pub_date ]]</span>
                        <div style="clear: both;"></div>
                    </div>
              </li>
          </a>
      </ul>
  </div>
</div>
