{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "angular/angular.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "home/js/home.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "home/css/index.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "home/css/carousel.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "home/css/navbar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "home/css/panel.css" %}">
</head>
<body ng-app="homeApp.resource">
    {% include "home/nav.html" %}
    <div class="carousel_container">
        {% include "home/carousel.html" %}
    </div>
    <div class="content_container">
        <div class="events_panel_container">
            {% include "home/events_panel.html" %}
        </div>
        <div class="news_panel_container">
            {% include "home/news_panel.html" %}
        </div>
    </div>
</body>
</html>