.img_heading_panel{
    max-width: 100%;
}

.img_heading {
    width: 100%;
    height: auto;
}

.img_news {
    width: 20%;
    transition: width 2s;
    align-self: flex-start;

}

.img_news.expend {
    width: 80%;
}

.news_detail_panel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.post_edit_form{
    width: 80%;
}

.post_edit_jumbotron{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#post_submit{
    width: 80%;
    height: 50px;
}

#post_file{
    width: 100%;
    text-align: center;
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.post_close_button{
    margin-left: 10px;
}