.content_container{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting_panel_container{
    align-self: flex-start;
    width: 50%;
    margin: 5px;
}