{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
<head>
    {% include "home/generic_include.html" %}
    {% include "home/nav/nav_include.html" %}
    {% include "home/events/events_include.html" %}
    {% include "home/home/home_include.html" %}
</head>
<body ng-app="homeApp.resource">
    <div>
        {% include "home/nav/nav.html" %}
    </div>
    <div class="content_container">
        <div class="events_panel_container">
            {% include "home/events/events_panel.html" %}
        </div>
    </div>
</body>
</html>