<div class="panel panel-default events_panel" ng-controller="indexEventList">
  <div class="panel-heading">
    <h3 class="panel-title">イベント</h3>
  </div>
  <div class="panel-body">
      <ul class="list-group">
          <a href="/events/[[ event.id ]]" ng-repeat="event in events">
              <li class="list-group-item">
                    <span class="panel_name left">[[ event.date ]] - [[ event.name ]]</span>
                    <span class="panel_short_description left">[[ event.short_description ]]</span>
                    <span class="panel_pub_date right">[[ event.pub_date ]]</span>
                    <div style="clear: both;"></div>
              </li>
          </a>
      </ul>
  </div>
</div>
