{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
<head>
    {% include "home/generic_include.html" %}
    {% include "home/nav/nav_include.html" %}
    {% include "home/events/events_include.html" %}
    <base href="/events">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@TouheadHotarubi">
    <meta name="twitter:title" content="{{ event.name }}">
    <meta name="twitter:description" content="{{ event.short_description }}">
    <meta name="twitter:image" content="{{ event.banner.url }}">
</head>
<body ng-app="homeApp.resource">
    <div>
        {% include "home/nav/nav.html" %}
    </div>
    <div ng-view></div>
    <script>
        var homeApp = angular.module('homeApp.resource');

        homeApp.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
        }]);

        homeApp.factory('AuthUser',
            function() {
                return {
                    username: "{{ user.username|default:''|escapejs }}"
                }
            }
        );
    </script>
</body>
</html>