<div ng-controller="eventEventView">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="page-header">[[ event.name ]]</h3>
            <!--
            Subscribe button - Do not work
            <div class="subscribe">
                  {% if user.is_authenticated %}
                    <button id="unsubscribe" type="button" class="btn btn-default event_bnt right" ng-click="unsubscribe(event)" ng-show="hasSubscribed(event)">[[ event.nb_subscriber ]] <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
                    <button id="subscribe" type="button" class="btn btn-default event_bnt right" ng-click="subscribe(event)" ng-show="!hasSubscribed(event)">[[ event.nb_subscriber ]]  <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
                  {% else %}
                    <button id="unauthenticated" type="button" class="btn btn-default event_bnt right">[[ event.nb_subscriber ]]  <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
                  {% endif %}
              </div>
              -->
        </div>
        <div class="img_heading_panel" ng-if="event.banner != null">
            <img src="[[ event.banner ]]" class="img_heading">
        </div>
        <div class="panel-body">
            <pre>[[ event.description ]]</pre>
        </div>
        <div class="panel-footer event_detail_panel">
            <img src="[[ event_image.image ]]" onclick="resize(this)" class="img-responsive img-rounded img_event" ng-repeat="event_image in event_images" ng-if="event_image != event.banner">
        </div>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="post in posts">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="left">
                            [[ post.user.username ]]
                        </div>
                        <button type="button" class="close right post_close_button" ng-click="delete(post)" ng-show="canDelete(post)">&times;</button>
                        <div class="right">
                            [[ post.pub_date ]]
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="panel-body">
                        <pre>[[ post.content ]]</pre>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="jumbotron post_edit_jumbotron">
        <div class="post_edit_form">
            <form>
                <!-- <div class="form-group">
                    <label for="post_file">画像</label>
                    <input id="post_file" ng-model="post_image" type="file">
                </div>-->
                <div class="form-group">
                    <label for="post_content">本文 (2000文字まで)</label>
                    <textarea id="post_content" class="form-control" ng-model="newPost.content" placeholder="新たなポスト" rows="8" maxlength="2000"></textarea>
                </div>
                <div class="form-group">
                    <button id="post_submit" class="btn btn-default" ng-click="save()">投稿</button>
                </div>
            </form>
            <div>
                <p ng-repeat="(name, errs) in errors_post" class="alert alert-danger"><strong>[[ name ]]</strong>: [[ errs.join(', ') ]]</p>
            </div>
        </div>
    </div>
</div>
