<!DOCTYPE html>
<html lang="en">
<head>
    {% include "home/generic_include.html" %}
    {% include "home/nav/nav_include.html" %}
</head>
<body>
    <div>
        {% include "home/nav/nav.html" %}
    </div>
    <div class="jumbotron">
        <form method="post">{% csrf_token %}
            <label for="id_old_password">現在パスワ－ド:</label>
            <input id="id_old_password" name="old_password" type="password">
            <label for="id_new_password1">新しいパスワ－ド:</label>
            <input id="id_new_password1" name="new_password1" type="password">
            <br>
            <span class="helptext">
                <ul>
                    <li>パスワ－ドは自分情報が関係だめです　Your password can't be too similar to your other personal information.</li>
                    <li>パスワ－ドは8文字以上って必要です　Your password must contain at least 8 characters.</li>
                    <li>パスワ－ドは普通利用なパスワ－ドだめです　Your password can't be a commonly used password.</li>
                    <li>パスワ－ドは番号だけだめです　Your password can't be entirely numeric.</li>
                </ul>
            </span>
            <label for="id_new_password2">新しいパスワ－ド確認:</label>
            <input id="id_new_password2" name="new_password2" type="password">
            <div class="form-group">
                <button id="post_submit" class="btn btn-default" ng-click="save()">投稿</button>
            </div>
        </form>
    </div>
</body>
</html>