<div ng-controller="newsNewsView">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="page-header">[[ news.name ]]</h3>
        </div>
        <div class="img_heading_panel" ng-if="[[ news.banner ]] != ''">
            <img src="[[ news.banner ]]" class="img_heading">
        </div>
        <div class="panel-body">
            <p>
                [[ news.description ]]
            </p>
        </div>
        <div class="panel-footer news_detail_panel">
            <img src="[[ news_image.image ]]" onclick="resize(this)" class="img-responsive img-rounded img_news" ng-repeat="news_image in news_images" ng-if="!$first">
        </div>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="post in posts">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <div class="left">
                            [[ post.user.username ]]
                        </div>
                        <button type="button" class="close right post_close_button" ng-click="delete(post)" ng-show="canDelete(post)">&times;</button>
                        <div class="right">
                            [[ post.pub_date ]]
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="panel-body">
                        <p>
                            [[ post.content ]]
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="jumbotron post_edit_jumbotron">
        <div class="post_edit_form">
            <form>
                <!-- <div class="form-group">
                    <label for="post_file">画像</label>
                    <input id="post_file" ng-model="post_image" type="file">
                </div>-->
                <div class="form-group">
                    <label for="post_content">本文 (2000文字まで)</label>
                    <textarea id="post_content" class="form-control" ng-model="newNews.content" placeholder="新たなポスト" rows="8" maxlength="2000"></textarea>
                </div>
                <div class="form-group">
                    <button id="post_submit" class="btn btn-default" ng-click="save()">投稿</button>
                </div>
            </form>
            <div>
                <p ng-repeat="(name, errs) in errors_post" class="alert alert-danger"><strong>[[ name ]]</strong>: [[ errs.join(', ') ]]</p>
            </div>
        </div>
    </div>
</div>