.carousel {
    max-width: 100%;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    padding: 0px 0px 30px 0px;
    width: 100%;
    left: auto;
    right: auto;
    background: rgba(0, 0, 0, 0.8);
}

.carousel-indicators li {
    margin: 0px 10px 0px 10px;
}
.carousel-indicators li.active{
    margin: 0px 10px 0px 10px;
}