.panel-title{
    font-size: 1.4em;
}

.panel_name{
    color: darkorange;
    font-weight: bolder;
    margin-right: 30px;
    font-size: 0.8em;
}

.panel_short_description{
    font-size: 0.8em;
}

.panel_pub_date{
    font-size: 0.8em;
}

.events_panel{
}

.event_panel{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event_detail{
    width: 100%; /* 88% with subscribe button */
    margin: 3px;
}

.subscribe{
    width: 10%;
    margin: 3px;
}

.event_bnt{
    height: 100%;
    width: 100%;
}

#subscribe{
    background-color: #843534;
    color: #ffffff;
    font-weight: bold;
}

#unsubscribe{
    background-color: #122b40;
    color: #ffffff;
    font-weight: bold;
}

#unauthenticated{
    background-color: #0f0f0f;
    color: #ffffff;
    font-weight: bold;
}

.news_panel{
}

.panel-body li{
    transition:  background-color 1s;
    height:100%;
    display:table;
    width: 100%;
    padding: 10px;
}

.panel-body li:hover{
    background-color: #cce0ff;
}

.panel_line{
    margin: 5px 0 5px 0;
    border-width: 2px;
}

.panel_event_date{
    font-size: 1em;
    color: #cc6600;
    font-weight: bolder;
}