.panel-title{
    font-size: 1.4em;
}

.panel_name{
    color: darkorange;
    font-weight: bolder;
    margin-right: 30px;
    font-size: 0.8em;
}

.panel_short_description{
    font-size: 0.8em;
}

.panel_pub_date{
    font-size: 0.8em;
}

.events_panel{
}

.news_panel{
}

.panel-body li{
    transition:  background-color 2s;
    height:100%;
    display:table;
    width: 100%;
    padding: 10px;
}

.panel-body li:hover{
    background-color: ;
}

.list-group-item{
    margin-top: 5px;
}

.panel_line{
    margin: 5px 0 5px 0;
    border-width: 2px;
}

.panel_event_date{
    font-size: 1em;
    color: #cc6600;
    font-weight: bolder;
}